<form action="/job/new" method="POST">
    <input type="text" name="jobtitle" size="45" placeholder="Job Title"><br/>
    <input type="text" name="company" size="45" placeholder="Company"><br/>
    <input type="text" name="contact" size="45" placeholder="Contact"><br/>
    <input type="text" name="phone" size="45" placeholder="Phone"><br/>
    <input type="text" name="email" size="45" placeholder="Email"><br/>
    <input type="text" name="webpage" size="45" placeholder="webpage"><br/>
    <input type="text" name="source" size="45" placeholder="source"><br/>
    <input type="text" name="method" size="45" placeholder="method"><br/>
    <button type="submit">Submit</button>
</form><br/>