<h1>Add a Job</h1>
<form action="/job/new" method="POST">
<label for="jobtitle">Job Title</label><br/>
    <input type="text" name="jobtitle" placeholder="required"><br/>
    <label for="company">Company</label><br/>
    <input type="text" name="company"><br/>
    <label for="contact">Contact</label><br/>
    <input type="text" name="contact"><br/>
    <label for="phone">Phone</label><br/>
    <input type="text" name="phone"><br/>
    <label for="email">Email</label><br/>
    <input type="text" name="email"><br/>
    <label for="webpage">Webpage where job was listed</label><br/>
    <input type="text" name="webpage"><br/>
    <label for="source">How did you find this job?</label><br/>
    <input type="text" name="source"><br/>
    <label for="method">How did you contact this employer?</label><br/>
    <input type="text" name="method"><br/><br/>
    <button type="submit">Add Job</button>
</form>