* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    table {
        width:95%;
    }
    input[type=text] {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    [class*="col-"] {
        width: 100%;
    }
    table {
        width:95%;
    }
    input[type=text] {
        width: 100%;
    }
}

@media print {
    body {
        background-color: #fff;
        background-image: hide;
    }
}

#mainBody{
    width: 70%;
    margin: 0 auto;
}
td,th {
    padding: 6px;
}
th {
    font-weight: bold;
}
.navlogo {
    height: 80px;
}

label {
    padding: 20px 0px 0px 0px;
}
nav.navbar {
    background-color: #eee;
}
.navbar-nav > li > a, .navbar-nav > li > a:visited {
    color: #525252;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #f16633;
}
.active {
    text-decoration: underline;
}